@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Darker+Grotesque:wght@500;600;700;800&display=swap');

@import "tailwindcss";


:root {
  font-family: "Jost", sans-serif;
  color: #111111;
  background: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: #ffffff;
}

button {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}